:root{
    --cr-blue: #14294d;
    --cr-yellow: #CE902D;
    --cr-beige: #ffeacf;
    font-size: 18px;
    font-family: 'Raleway', san-serif;
    font-feature-settings: "lnum"!important;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
}
:root.light{
    --main-bg: var(--cr-beige);
    --main-text: #111;
    --main-color: var(--cr-blue);
    --button-color: var(--cr-yellow);
    --main-button-text: var(--main-bg);
    --input-bk: #fdf6ee;
}
:root.dark{
    --main-bg: var(--cr-blue);
    --main-text: white;
    --main-color: var(--cr-yellow);
    --button-color: var(--cr-beige);
    --main-button-text: var(--main-bg);
    --input-bk: #2f63bb;
}

body{
    background-color: var(--main-bg);
    color: var(--main-text);
    padding: 0;
    margin: 0;
    letter-spacing: .02rem;
    position: relative;
}

button{
    display:block;
    background: var(--button-color); 
    padding: 1rem 3rem;  
    color: #222;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Raleway', san-serif;
}

.flex-h{
    display: flex;
    position: relative;
    justify-content:center;
}
.side-portion{
    position: sticky;
    top: 0;
    flex: 1;
    height: 100vh;
    background-color: var(--cr-yellow);
    color: white;
    z-index: -1;
}
.side-title{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.main-portion{
    flex: 1.5;
    padding: 2rem;
    box-shadow: -10px -16px 16px rgba(0,0,0, .15);
}
label:not(.small-label){
    display:block;
    font-weight:bold;
    font-size:1.2rem;
    margin-top:.5rem;
}
.small-label{
    display: inline-block;
    margin-top: .5rem;
    font-size:.9rem;

}
input{
    background-color:var(--input-bk);
    color:var(--main-text);
    font-family: inherit;
    font-size: 1rem;
}

fieldset{
    margin-bottom: 2rem;
    border-color: var(--button-color);
    color:var(--main-color);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 2rem;
    flex-wrap:wrap;
}

legend{
    text-transform:uppercase;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: .1rem;
    font-family: 'Rammetto One', cursive;
}
footer{
    background-color: var(--cr-blue);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem;
}

.fa-heart{
    color: rgb(255, 38, 38);
}
.fieldset-section{
    flex: 1;
}

