* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;

}

:root{
    --cr-blue: #14294d;
    --cr-yellow: #CE902D;
    --cr-beige: #ffeacf;
    font-size: 16px;
    font-family: 'Raleway', san-serif;
    font-feature-settings: "lnum"!important;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
}
:root.light{
    --main-bg: var(--cr-beige);
    --main-text: #111;
    --main-color: var(--cr-blue);
    --button-color: var(--cr-yellow);
    --main-button-text: var(--main-bg);
    --input-bk: #fdf6ee;
}
:root.dark{
    --main-bg: var(--cr-blue);
    --main-text: white;
    --main-color: var(--cr-yellow);
    --button-color: var(--cr-beige);
    --main-button-text: var(--main-bg);
    --input-bk: #2f63bb;
}

body{
    background-color: var(--main-bg);
    color: var(--main-text);
    padding: 0;
    margin: 0;
    letter-spacing: .02rem;
    position: relative;
}

button{
    display:block;
    background: var(--button-color); 
    padding: 1rem 3rem;  
    color: #222;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Raleway', san-serif;
}

.flex-h{
    display: flex;
    position: relative;
    justify-content:center;
}
.side-portion{
    position: sticky;
    top: 0;
    flex: 1;
    height: 100vh;
    background-color: #2F63BB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232a57a5' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23244c8f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231f4079' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23193563' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2314294D' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    z-index: -1;
}
.side-title{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Rammetto One', cursive;
    letter-spacing: .1rem;
    font-weight: 400;
    text-shadow:0px 6px rgba(0,0,0, .2);
    text-transform: uppercase;
    line-height:4rem;
}

.main-portion{
    flex: 1.5;
    padding: 2rem;
    box-shadow: -10px -16px 16px rgba(0,0,0, .15);
}
label:not(.small-label){
    display:block;
    font-weight:bold;
    font-size:1.2rem;
    margin-top:.5rem;
}
.small-label{
    display: inline-block;
    margin-top: .5rem;
    font-size:.9rem;

}
input{
    background-color:var(--input-bk);
    color:var(--main-text);
    border: 2px solid rgba(0,0,0, .1);
    font-family: inherit;
    font-size: .95rem;
    padding:.5rem;
}
input:focus{
    border-color: var(--button-color);
}
fieldset{
    margin-bottom: 2rem;
    border: 3px solid var(--button-color);
    color:var(--main-color);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 2rem;
    flex-wrap:wrap;
    padding: 1rem;
}

legend{
    text-transform:uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-family: 'Rammetto One', cursive;
    padding: .6rem;
}
footer{
    background-color: var(--cr-blue);
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 1.5rem;
}

.fa-heart{
    color: rgb(255, 38, 38);
}
.fieldset-section{
    flex: 1;
}

@media only screen and (max-width: 900px) {
    .side-portion{
        height: 33vh;
        position: relative;
    }
    .side-title{
        font-size: 1.2rem;
    }
    .flex-h {
        display: block;
    }
    .flex-item-h{
        display: block;
    }
  }